:root {
    --white-1:#ffffff;
    --white-2:#ffffff;
    --green-1:#50D890;
    --blue-1:#4F98CA;
  
    --black-1:#272727;
}


/* CLASES UTILITARIAS */
.flex{
    display: flex;
}


.flex-c{
    display: flex;
    justify-content: center;
}

.flex-sa{
    display: flex;
    justify-content: space-around;
}

.flex-sb{
    display: flex;
    justify-content: space-between;
}

.flex-col{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-cont img{
    height: 50px;;

}

/* FONDOS */

.bg-white-1{
    background-color: var(--white-1);
}

.bg-white-2 {
    background-color: var(--white-2);
}



.bg-black-1{
    background-color: var(--black-1);
}

.bg-blue-1{
    background-color: var(--blue-1);
}


/* TEXTOS */

.txt-c{
    text-align: center;
}
.txt-j{
    text-align: justify;
}

.txt-white-sh{
    color: var(--white-1)!important;
    text-shadow: 2px 2px 2px black;
}


.txt-white{
    color: var(--white-1)!important;
  
}

.txt-black{
    color: var(--black-1)!important;
}


.img-cont{
    width: 200px !important;
    height: 200px !important;
    background-size: cover;
    transition: all ease 0.3s;

}

.img-cont:hover{
    width: 300px !important;
    height: 300px !important;
    background-size: cover;
}

.p-1{
    padding:10px !important;;
}

.p-2{
    padding: 20px !important;;
}
.p-3{
    padding:30px !important;;
}
.p-4{
    padding:40px !important;;
}


.parraf{
    width: 60vw;
}

.mt-5{
    margin-top: 20px !important;
}

.h{
    height: 250px !important;
}



.flex-cualidades{
    display: flex;
    justify-content: space-around;
    text-align: center;
   
}


.flex-cualidades i{
    font-size: 40px;
}
.flex-cualidades div{
    transition: all ease 0.3s;
}

.flex-cualidades div:hover{
    transform: scale(1.3);
    cursor: pointer;
}



.product-display{
    height: 25rem;
    width: 100vw;
    background: #f3f3f3;
    display: flex;
}

/* SECCION FOTOS */


.product-photos{
    width: 60%;
    
   

    display: flex;
}

.product-photos-min{
    width: 15%;


    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.photo-min{
    margin: 0px 10px;
    margin-top: 10px;
    

}

.product-photos-max{
    flex: 1;
    background: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    height: 100%;

}

.product-info{
    flex: 1;
  

    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-panel{
    margin:1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.imagen{
    max-height: 100%;
   
}


.product-name{
    padding: 20px;
    padding-left: 50px;
    background-color: rgb(243, 243, 243);
    border-bottom: 1px rgb(233, 233, 233) solid;
}

